* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.adex-logo {
  cursor: pointer;
}

.nav-2 button {
  color: white;
  font-size: 12px;
}
.nav2-btn:hover {
  background-color: whitesmoke !important;
  color: #ed017f;
}

.search-btn:hover {
  background-color: orange !important;
}

nav li {
  list-style: none;
  position: relative;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
/* 
.nav-active {
} */

nav .dropbtn {
  color: white;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  padding: 8px 25px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

nav .dropbtn:hover {
  color: black;
  background-color: white;
}

#otherIconsOnSmallScreen {
  display: none !important;
}

.dropbtn:after {
  position: relative;
  top: 10px;
  display: block;
  content: "";
  border-bottom: 4px solid orange;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.dropbtn:hover:after {
  transform: scaleX(1.5);
}

.dropbtn:focus:after {
  transform: scaleX(1.5);
}

/* .nav-active:focus {
        border-bottom: 4px solid green;
        transform: scaleX(1.4);
        position: relative;
      } */

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  width: 90%;
  height: 700px;
  overflow: hidden;
  box-shadow: 0px 5px 3px rgba(2, 2, 255, 0.8);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 20px;
  padding-top: 0px;
  opacity: 1;
  top: 125px;
  left: 5%;
  z-index: 5;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #f2f2f2;
}

.dropdown-content h4 {
  width: 100%;
  padding: 10px;
  color: #ed017f;
  background-color: lightgray;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-categories {
  display: flex;
  width: 100%;
  height: 85%;
  position: relative;
}
.nav-categories-options {
  width: 20%;
  height: 98%;
  padding: 0px 0px;
  overflow-y: auto;
}

.nav-categories-options i {
  float: right;
}

.nav-categories-options,
.links-inside-right-view a:hover {
  color: #ed017f;
  background-color: white;
}

.right-view {
  width: 80%;
  height: 100%;
  display: flex;
}

.nav-categories-view {
  min-width: 100%;
  height: 100%;
  padding: 20px 20px;
  box-shadow: 5px -1px 8px 5px inset dimgray;
  display: flex;
  overflow-y: auto;
}

.links-inside-right-view a {
  background-color: white;
  padding: 0px;
}

.right-view-one,
.right-view-two {
  width: 49%;
  height: 100%;
  overflow-y: auto;
}

.nav-categories-view img {
  width: 50%;
  height: 60%;
  display: flex;
  position: relative;
  float: right;
  margin-top: 15%;
}

.nav-categories-view span:last-child {
  float: right;
  padding-top: 10px;
}

.nav-categories-footer {
  display: block;
  background-color: lightgray;
}
.nav-categories-footer-i {
  width: 100%;
  display: flex;
}

.nav-categories-footer a {
  font-size: 15px;
  width: auto;
}

.nav-categories-footer i {
  padding-right: 5px;
}

.active3 {
  background-color: unset;
}

.show {
  display: block;
}

.carousel-dark:hover {
  cursor: pointer;;
}

#carouselExampleDark .carousel-control-button {
  transition: all ease-in-out .5s;
  opacity: 0;
}
#carouselExampleDark:hover .carousel-control-button {
  transform: rotate(360deg);;
  opacity: 1;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(127, 126, 126);
}

#carouselExampleDark .carousel-control-button:hover {
  transform: scale(1.2);
}
 
.contact:hover .contact-link {
  color: rgb(255, 255, 255) !important;
}

.contact:hover {
  color: rgb(255, 255, 255) !important;
}

.footer-dropdown-button i {
  display: none;
}

.footer-dropdown-menu {
  background-color: inherit !important;
  text-transform: capitalize;
}

.footer-dropdown-menu a:hover {
  color: white !important;
  background-color: inherit;
}

.footer-dropdown:hover .footer-dropdown-button {
  color: white !important;
}

.social i {
  cursor: pointer;
}

.social .fa-facebook-f:hover {
  color: #39579A;
  background-color: white !important;
}
.social .fa-twitter:hover {
  color: #03A9F4;
  background-color: white !important;
}
.social .fa-instagram:hover {
  color: #C21B72;
  background-color: white !important;
}
.social .fa-youtube-square:hover {
  color: #FF3B3B;
  background-color: white !important;
}

.cart-btn-container:hover {
  box-shadow: 0px 2px 5px 2px lightgray;
}

.cart-btn-container button:hover{
  background-color: unset;
}

.cart-heart:hover {
  background-color: orange !important;
}

.logo-div .fa-bars {
  display: none;
}

#percentOff {
  display: none !important;
}

.each-todays-deal:hover, #sponsoredProProduct:hover,
 #inspiredProProduct:hover, #browsingProProduct:hover {
  box-shadow: 0px 5px 10px 5px lightgray !important;
}

#dealsProductName {
  white-space: unset !important; 
  width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

#dropIcon {
  display: none;
  cursor: pointer;
}

.chat-social .fa-facebook-messenger {
  background-color: #2196F3;
}
.chat-social .fa-twitter {
  background-color: #26A6D1;
}
.chat-social .fa-whatsapp {
  background-color: #4CAF50;
}




#productMain {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  height: 100vh !important;
}

.empty-cart-container img {
  animation-name: fall;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  transform: rotate(-70deg);
}

@keyframes fall {
  0% {
    transform: rotate(0deg);
    transform: translateX(80px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
    transform: rotate(-50deg);
  }
}



#successModal {
  position: fixed;
  z-index: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  animation-name: animatetop;
  animation-duration: 0.5s;
  /* border-top-right-radius: 10px; */
  /* border-top-left-radius: 10px; */
  color: black;
}

@-webkit-keyframes animatetop {
  from {
    top: -1000px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -1000px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}



.admin-icon {
  animation: blink-animation .5s steps(5, start) infinite;
  border: 5px solid;
  /* border-image:linear-gradient(60deg,#00dde1 50%,#f6531d 0) 20; */
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#adminInitBtn {
  border-radius: 15px;
  margin: auto;
  display: grid;
  place-content: center;
  text-align: center;
   --border-size: 0.3rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #d53e33 0deg 90deg,
      #fbb300 90deg 180deg,
      #f4f5f8 180deg 270deg,
      #399953 270deg 360deg
    )
    1 stretch;
  /* background: rgb(255 255 255 / var(--opacity)); */
}

/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      --opacity: 1;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  #adminInitBtn {
    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
  }
}




.admin-btn-container {
  background-color: whitesmoke;
}

.admin-btn-container .admin-profile-btn {
  background-color: inherit;
  text-transform: capitalize;
  border-top: unset;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
  border-left: unset;
  border-right: unset;
  border-radius: unset;
  
}

.btn11 {
  border-top: 1px solid gray !important;
}

.add-product .fa-bars {
  display: none;
}

.add-product .product-form {
  overflow-y: scroll;
  height: 100%;
}



/* Large screen Product page css Carousel control code */


#carouselImg {
  height: auto;
}

#productCarousel {
  height: auto;
  position: relative;
  overflow: hidden;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

#productCarousel .carousel-inner{
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#productCarousel .carousel-indicators{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#productCarousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#productCarousel .carousel-control-btn {
  background-color: white;
  border-radius: 50%; 
  width: 60px; 
  height: 60px;
  transition: all ease-in-out .3s;
}

#productCarousel:hover .carousel-control-btn {
  background-color: white;
  box-shadow: 0px 0px 10px rgb(127, 126, 126);
}
#productCarousel .carousel-control-btn:hover {
  transform: rotate(360deg);
}

.welcome-txt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.welcome-txt {
  color: blue;
	width: 23ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 1px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 23ch; 
  }
}

.addressPrompt {
  text-transform: capitalize !important;
}



/* .popup-container {
  border-radius: 10px;
  padding: 2rem;
  margin: auto;

  display: grid;
  place-content: center;
  text-align: center;

  font-size: 1.5em;

  --border-size: 0.3rem;
  border: var(--border-size) dotted transparent;
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / var(--opacity)),
      rgb(255 255 255 / var(--opacity))
    ),
    conic-gradient(
      from var(--angle),
      #d53e33 0deg 90deg,
      #fbb300 90deg 180deg,
      #377af5 180deg 270deg,
      #399953 270deg 360deg
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      --opacity: 1;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .popup-container {
    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
  }

} */





















@media screen and (min-width: 1024px) {
  #footerTwo {
    justify-content: start;
    gap: 100px;
    z-index: 1;
  }

  .footer-dropdown-container {
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid #eee; */
    width: 70%;
  }
  
  .footer-contact-container {
    /* border: 1px solid cyan; */
    width: 25%;
  }

  .footer-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-dropdown-menu {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    gap: 8px;
  }

  .footer-dropdown-menu a {
  padding: 0px !important;
  }

  .dont-have-account-small-screen {
    display: none;
  }

  .footer-one-dropdown {
    display: none;
  }
  .footer-one-dropdown-menu {
    display: flex !important;
    background-color: inherit !important;
    gap: 30px;
    z-index: 1 !important;
  }

.div2 .each-click:hover {
  color: #ed017f !important;
}

#overview .div1 {
  display: none !important;
}

#chatModal .chat-modal-content {
  top: 200px !important;
  left: 100%;
  margin-left: auto !important;
  height: 100% !important;
  width: 80% !important;
  padding-bottom: 0px;
}

.chat-social i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  display: flex;
  padding: 12px 0px;
  cursor: pointer;
}

.cart-main .cart-total-on-small-screen {
  display: none !important;
}

#cartMain .empty-cart-container {
  width: 25% !important;
  margin-top: 100px !important;
}

.div2 .checkout-btn {
  position: unset !important;
  bottom: unset !important;;
  left: unset !important;
  padding: unset !important;
  margin-top: 10px;
}

.checkout-btn button {
  font-size: 12px;
}

#successModal {
  position: fixed;
  z-index: 12;
  left: 35% !important;
  bottom: 0;
  width: 30%;
  /* height: 90%; */
  /* margin-left: auto !important; */
  /* margin-right: auto !important; */
  overflow: auto;
  animation-name: animatetop;
  animation-duration: 0.5s;
  /* border-top-right-radius: 10px; */
  /* border-top-left-radius: 10px; */
  color: black;
}

.my-account-dropdown {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  top: -3px !important;
  border-radius: unset !important;
}

.my-account-dropdown .dropdown-item {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.payment-body #paymentContainer {
  margin-top: 0px !important;
}

.payment-body .select-payment {
  position: relative !important;
  top: -24px !important;
}

.payment-body .accept-payment, .payment-body .key {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.payment-body .key {

}

.checkout-body .check-out-on-small-screen {
 display: none !important; 
}

}
























@media screen and (max-width: 1024px) {

  .admin-main .admin-btn-container {
    display: none !important;
  }

  #adminMain {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .add-product .fa-bars {
    display: block;
  }

  .add-product .admin-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .admin-nav img {
    height: 50% !important;
  }

  /* .admin-main .add-product {
    width: ;
  } */

  #navBar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background-color: #ed017f;
    padding: 10px;
  }
  #firstNav{
    display: none !important;
  }
  #secondNav {
    height: 40px !important;
    padding: 0px !important;
    justify-content: space-between;
  }
  #secondNav h4 {
    display: flex !important;
    margin-top: -3px !important;
  }

  #searchOnSmallScreen {
    display: block !important;
    font-size: 12px;
    border-radius: 3px;
  }

  #otherIconsOnSmallScreen {
    display: flex !important;
  }

  #otherIconsOnSmallScreen div {
    cursor: pointer;
  }

  .logo-div {
    height: 50% !important;
  }
  .logo-div .fa-bars {
    display: flex;
    margin-right: 10px;
  }
  .logo-div h3 {
    height: 100% !important;
    font-size: 14px;
    padding-top: 2px;
  }

  .nav2-btn, #searchCon, #cartBtn, #helpBtn {
    display: none !important;
  }

  #myAccountDropdown {
    position: absolute !important;
    right: 0;
  }


  #myAccountDropdown button, .checkout {
    color: white;
    font-size: 12px !important;
  }
  #myAccountDropdown button:hover {
    background-color: whitesmoke !important;
    color: #ed017f;
  }

  #thirdNav {
    display: none;
  }

  #loginOffcanvas {
    width: 100% !important;
    padding-bottom: 30px;
  }

  #loginOffcanvas .offcanvas-header {
    display: flex;
  }
  #offcanvasTitle {
    text-align: center !important;
    width: 100%;
  }

  .login-with {
    flex-direction: column;
  }

  .login-with button {
    width: 100% !important;
    font-size: 12px !important;
  }

  .login-with img {
    height: 30px;
  }

  #offcanvasRight {
    width: 100% !important;
  }

  .offcanvas-body, .offcanvas-body input, .offcanvas-body button {
    font-size: 12px;
  }
  .offcanvas-footer a {
    display: none;
  }

  .offcanvas-footer {
    padding-left: 25px;
    padding-right: 25px;
  }

  .offcanvas-footer .create-btn {
    border: 1px solid #ed017f;
    color: #ed017f;
  }

  .dont-have-account-small-screen {
    display: flex;
    flex-direction: column;
  }

  #mainContainer {
    margin-top: 60px;
    padding: 0px 10px !important;
    width: 100%;
    top: 50px;
  }

  #productPageMainContainer {
    margin-top: 100px;
    padding: 0px 10px !important;
    width: 100%;
    top: 50px;
  }

  #carouselContainer {
    flex-direction: column;
    gap: 10px !important;
  }
  #carouselExampleDark, #carouselInner, .carousel-item, .carousel-item img {
    width: 100% !important;
  }

  .carousel-item img {
    width: 100% !important;
  }
  #carouselAds {
    width: 100% !important;
    gap: 10px !important;
  }
  #carouselAds img {
    width: 48% !important;
  }

  #todaysDealContainer {
    margin-top: 30px !important;
  }

  #todaysDeal {
    flex-wrap: unset !important;
    overflow-x: auto;
    gap: 10px !important;
  }

  #eachTodaysDeal {
    min-width: 50% !important;
    height: 180px !important;
    padding: 10px 0px !important;
    flex-direction: column !important;
  }

  #eachTodaysDeal img {
    object-fit: contain !important;
    height: 60%;
  }

  #proDetails {
    font-size: 12px;
    gap: 0px !important;
    padding: 0px 10px;
  }

  #dealsNewPrice {
    font-size: 14px !important;
  }

  #dealsOldPrice {
    font-size: 10px !important;
  }

  #dealsSave {
    font-size: 10px !important;
  }

  #percentOff {
    display: flex !important;
  }
  #dealsProductName, #sponsorProductName {
    white-space: nowrap !important  ; 
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }


  #sponsorContainer, #moreContainer {
    margin-top: 30px !important;
    font-size: 12px;
  }
  #sponsorContainer h5 {
    font-size: 14px;
  }
  #sponsoredPro, #inspiredPro, #browsingHistoryPro {
    width: 100%;
    gap: 10px !important;
  }
  #sponsoredProProduct, #inspiredProProduct, #browsingProProduct {
    min-width: 50% !important;
    height: 180px !important;
    padding: 10px 0px !important;
    /* border: 2px solid red; */
  }
  #sponsoredProProduct img, #inspiredProProduct img, #browsingProProduct img {
    object-fit: contain !important;
    height: 60% !important;
  }

  #moreContainer {
    overflow-x: auto;
  }

  .more-img-container {
    min-width: 33%;
  }


  #recommendedContainer {
    margin-top: 10px !important;
  }

  #recommendedPro{
    flex-wrap: unset !important;
    overflow-x: auto;
    gap: 10px !important;
  }

  #otherAdsContainer {
    margin-top: 10px !important;
  }
  #otherAds23Div {
    flex-direction: column !important;
    margin-top: 10px !important;
  }
  #otherAds23Div img {
    width: 100% !important;
    height: 100px !important;
  }

  #inspiredProContainer, #browsingHistoryContainer, 
  #partnerContainer, #textContainer {
    margin-top: 10px !important;
  }

  #partnerContainer {
    margin-bottom: 20px !important;
  }

  #inspiredProContainer h3, #browsingHistoryContainer h3 {
    margin-top: 0px !important;
    font-size: 15px;
  }

  #homeFurnishingContainer {
    gap: 10px !important;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  #homeFurnishImgContainer {
    min-width: 50% !important;
  }
  #homeFurnishImgDiv {
    gap: 12px !important;
  }

  #homeFurnishImgName {
    font-size: 12px !important;
    margin-top: 5px !important;
  }
  
  #homeFurnishImgDiv span {
    height: 30px;
  }

  #moreText {
    display: none;
  }

  #blogContainer {
    display: none !important;
  }

  #footer {
    margin-top: 80px !important;
  }

  #footerOne {
    height: auto !important; 
    position: relative;
  }

  .footer-one-dropdown {
    display: block;
    cursor: pointer;
  }

   #footerOne .dropdown-menu {
    background-color: inherit !important;
    position: relative !important;
    left: -20px !important;
    top: -30px !important;
    margin-top: 20px !important;
    z-index: 1;
  }

  .footer-one-dropdown-menu .each-contact {
    margin: 20px 0px !important;
  }

  .each-contact:first-child {
    margin: 0px 0px !important;
  }

  .each-contact .contact  {
    gap: 0px !important;
  }

  #footerTwo {
    flex-direction: column !important;
    gap: 30px !important;
    position: relative !important;
  }
  .footer-dropdown-container {
    flex-wrap: unset !important;
    justify-content: unset;
    width: 100%;
    flex-direction: column !important;
    gap: 30px;
  }
  
  .footer-contact-container {
    width: 100%;
  }

  #footerTwo .footer-dropdown {
    gap: 0px !important;
    position: relative;
  }

  .footer-dropdown-button {
    display: flex !important;
    justify-content: space-between;
    cursor: pointer;
  }

  .footer-dropdown-button i, .fa-square-minus {
    font-size: 25px;
    font-weight: bold;
    display: block;
  }

  .footer-dropdown-menu {
    background-color: inherit !important;
    position: relative !important;
    margin-top: -20px !important;
    padding-top: 0px !important;
  }

  #copyright {
    flex-direction: column !important;
  }
  #copyright span {
    text-align: center;
  }

  #copyright hr {
    width: 100% !important;
  }

  .fa-square-minus {
    color: white;
    cursor: pointer;
    font-size: 25px;
  }

  #secondNav .small-screen-cart-icon {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10px;
  }

  #footerTwo .footerconnect {
    margin-left: 0px !important;
  }

  #fixedFooter {
    display: flex !important;
  }

  #dropIcon {
    display: flex;
  }

  .chat-icon {
    bottom: 70px !important;
    width: 50px !important;
    height: 50px !important;
  }

  .fa-times {
    font-size: 35px !important;
    top: -7px !important;
  }

  .chat-social i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    justify-content: center;
    display: flex;
    padding: 8px 0px;
    cursor: pointer;
  }

  .admin-icon {
    display: none;
  }












  #productCarouselContainer {
    flex-direction: column;
  }
  #productCarouselContainer .div1, #productCarouselContainer .div2 {
    width: 100% !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }


  .buy-now-and-save-btn button:first-child {
    width: 85% !important;
  }

  .buy-now-and-save-btn .save-icon {
    width: 15% !important;
  }

  .save-icon span {
    display: none;
  }

  .get-free-delivery {
    font-size: 12px;
    height: 50px !important;
  }

  #productCarouselContainer .pickup-and-pay {
    flex-direction: column;
    gap: 10px !important;
  }
  .pickup-and-pay .txt1, .pickup-and-pay .txt2, .txt3, .txt4{
    font-size: 12px !important;
  }


  .product-main .product-caro {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  #carouselImg {
    height: 500px;
  }
  
  #productCarousel {
    height: auto;
    position: relative;
    overflow: hidden;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px solid red; */
  }

 
  
  #productCarousel .carousel-inner{
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid green; */
  }
  
  #productCarousel .carousel-indicators{
    width: 50%;
    margin-left: 0;
    margin-right: auto;
  }
  
  #productCarousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  #productCarousel .carousel-control-btn {
    background-color: white;
    border-radius: 50%; 
    width: 60px; 
    height: 60px;
    transition: all ease-in-out .3s;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  
  #productCarousel:hover .carousel-control-btn {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(127, 126, 126);
  }
  #productCarousel .carousel-control-btn:hover {
    transform: rotate(360deg);
  } 

  .product-main {
    padding: 10px !important;
    margin-top: 90px !important;
  }

  #overview {
    padding: 0px !important;
  }

  #overview .div2 {
    display: none !important;
  }

  #overview .div1{
    flex-direction: column !important;
    gap: 0px !important;
  }

  #overview .each-click {
    border-top: 1px solid lightgray;
    padding: 15px 10px;
    font-size: 14px !important;
    height: auto !important;
  }

  .product-details-dropdown-menu ul {
    border: 1px solid #eee;
  }
  
  .each-click .product-details-dropdown-menu {
    top: -20px !important;
    position: relative !important;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    animation-name: ani;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    z-index: 1;
  }

  @keyframes ani {
    0% {
      opacity: 0;
      height: 0%;
      width: 100%;
    }
    100% {
      opacity: 1;
      height: 100%;
      width: 100%;
    }
  }

  

  #similarContainer {
    overflow-x: auto;
    width: 100%;
  }

  #similarContainer .eachsimilar {
    min-width: 50% !important;
  }















  .cart-main {
    margin-top: 140px;
  }
  .cart-main .cart-top div {
    display: none !important;
  }

  .checkout-body .cart-main {
    margin-top: -70px;
  }

  .checkout-body .div2 {
    margin-top: 0px;
  }

  .checkout-body #addressContainer {
    margin-top: 30px !important;
  }

  .cart-top {
    height: auto !important;
    background-color: inherit !important;
  }
  
  .cart-top h1 {
    font-size: 15px !important;
  }

  .shipping-info {
    flex-direction: column;
    padding: 10px 2% 100px 2% !important;
  }
  .shipping-info .div1 {
    width: 100% !important;
  }

  .shipping-info .div2 {
    width: 100% !important;
  }
  .shipping-info .cart-head {
    display: none !important;
  }

  .shipping-info textarea {
    width: 100%;
  }

  .shipping-info .pickup {
    padding-left: 20px !important;
  }

  #eachShoppingCart {
    margin-top: -150px;
  }

  #eachShoppingCart .cart-details {
    flex-direction: column;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 10px;
  }

  .cart-details .cart-name {
    font-size: 12px !important;
  }

  .cart-name div:first-child {
    width: 100% !important;
    font-weight: bold;
  }
  .cart-name .sold-by {
    font-size: 12px !important;
  }

  .cart-details .cart-img {
    width: 100% !important;
  }

  .cart-price {
    width: 70% !important;
  }

  .cart-body #searchOnSmallScreen {
    display: none !important;
  }

  .cart-details .cart-action {
    width: 100% !important;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 20px !important;
    padding: 0px 10px;
  }

  .cart-action div {
    border: 1px solid #eee;
    width: 50%;
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
    color: black;
  }

  .shipping-info .div2 {
    background-color: #F2F2F2 !important;
  }

  .div2 .details-off {
    display: none;
  }

  .div2 .accept-payment {
    justify-content: space-around !important;
  }

  .div2 .checkout-btn {
    /* display: block !important; */
    /* margin-top: 50px; */
    position: fixed;
    bottom: 0;
    left: 0;
  }


  .div1 .verify1, .div1 .verify2 {
    max-width: 120px !important;
  }

  .div1 .verify2 {
    left: -15px;
  }

  .div1 .verify3 {
    left: -40px;
    max-width: 50px !important;
  }

  .div1 .delivery-address {
    flex-direction: column;
    gap: 15px;
  }
  .delivery-address .delivery-address1, .delivery-address .delivery-address2, .div1 .delivery-address11 {
    width: 100% !important;
  }
  .div1 .nxt-div {
    width: 20px !important;
    height: 20px !important;
  }

  .div1 .fa-check {
    font-size: 12px !important;
  }

  .div1 .line {
    height: 2px !important;
  }
  
 .my-page .fa-1, .my-page .fa-2, .my-page .fa-3{
   font-size: 8px !important;
 } 
 
.div1 .my-page {
  position: fixed;
  width: 100%;
  height: 50px !important;
  top: 60px;
  left: 0;
} 

.my-page .chk-con {
  margin-top: unset !important;
  margin-bottom: unset !important;;
}

.delivey-nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px !important;
  z-index: 2;
}

.delivery-nav-contenet {
  height: 100% !important;
}

#addressState {
  max-width: 100%;
}
  

.payment-body .select-payment {
  top: 110px !important;
}

.payment-body #paymentContainer {
  margin-top: -100px !important;
}
  
}
















@media screen and (max-width: 1024px) {
  .nav.responsive {
    width: 100%;
    padding: 0px !important;
    position: relative;
  }

  .nav.responsive #secondNav {
    margin: 10px 10px 0px 10px !important;
    /* border: 1px solid #eee; */
    width: 100% !important;
  }

  .nav.responsive #searchOnSmallScreen {
    display: none !important;
    background-color: unset !important;
  }

  .nav.responsive #thirdNav {
    display: block !important;
    background-color: unset !important;
  }

  .nav.responsive #thirdNav ul {
    display: none !important;
  }
  .nav.responsive #smallScreenDropdown {
    display: flex !important;;
    flex-direction: column;
    background-color: whitesmoke !important;
    color: black !important;
    position: relative;
    top: 12px !important;
    left: 0 !important;
    height: 100vh !important;
    overflow-y: auto;
    padding-bottom: 200px !important;
    animation-name: drop;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

  @keyframes drop {
    0% {
      opacity: 0;
      height: 0vh;
      width: 0%;
    }
    100% {
      opacity: 1;
      height: 100vh;
      width: 100%;
    }
  }

  .nav.responsive #bringItUp a {
    text-decoration: none;
    color: black !important;
    border-top: 1px solid lightgray;
    font-size: 14px;
    padding: 10px 5px;
    text-transform: capitalize;
  }

  .nav.responsive .small-screen-dropdown-links button {
    text-transform: capitalize;
    border-top: 1px solid lightgray;
    font-size: 14px;
    padding: 10px 5px;
  }

  .nav.responsive .fa-angle-right {
    color: rgb(160, 157, 157);
  }

  .nav.responsive #myDropdown {
    display: flex !important;
    flex-direction: column;
  }

  .nav.responsive .nav-categories-options {
    min-width: 100% !important;
  }

  .nav.responsive .dropbtn {
    display: none;
    color: black !important;
    border-top: 1px solid gray !important;
  }
}

/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> */