* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.nav-2 button {
  color: white;
  font-size: 12px;
}
.nav2-btn:hover {
  background-color: whitesmoke !important;
  color: #ed017f;
}

.search-btn:hover {
  background-color: orange !important;
}

nav li {
  list-style: none;
  position: relative;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
/* 
.nav-active {
} */

nav .dropbtn {
  color: white;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  padding: 8px 25px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

nav .dropbtn:hover {
  color: black;
  background-color: white;
}

#otherIconsOnSmallScreen {
  display: none !important;
}

.dropbtn:after {
  position: relative;
  top: 10px;
  display: block;
  content: "";
  border-bottom: 4px solid orange;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.dropbtn:hover:after {
  transform: scaleX(1.5);
}

.dropbtn:focus:after {
  transform: scaleX(1.5);
}

/* .nav-active:focus {
        border-bottom: 4px solid green;
        transform: scaleX(1.4);
        position: relative;
      } */

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  width: 90%;
  height: 700px;
  overflow: hidden;
  box-shadow: 0px 5px 3px rgba(2, 2, 255, 0.8);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 20px;
  padding-top: 0px;
  opacity: 1;
  top: 125px;
  left: 5%;
  z-index: 5;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #f2f2f2;
}

.dropdown-content h4 {
  width: 100%;
  padding: 10px;
  color: #ed017f;
  background-color: lightgray;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-categories {
  display: flex;
  width: 100%;
  height: 85%;
  position: relative;
}
.nav-categories-options {
  width: 20%;
  height: 98%;
  padding: 0px 0px;
  overflow-y: auto;
}

.nav-categories-options i {
  float: right;
}

.nav-categories-options,
.links-inside-right-view a:hover {
  color: #ed017f;
  background-color: white;
}

.right-view {
  width: 80%;
  height: 100%;
  display: flex;
}

.nav-categories-view {
  min-width: 100%;
  height: 100%;
  padding: 20px 20px;
  box-shadow: 5px -1px 8px 5px inset dimgray;
  display: flex;
  overflow-y: auto;
}

.links-inside-right-view a {
  background-color: white;
  padding: 0px;
}

.right-view-one,
.right-view-two {
  width: 49%;
  height: 100%;
  overflow-y: auto;
}

.nav-categories-view img {
  width: 50%;
  height: 60%;
  display: flex;
  position: relative;
  float: right;
  margin-top: 15%;
}

.nav-categories-view span:last-child {
  float: right;
  padding-top: 10px;
}

.nav-categories-footer {
  display: block;
  background-color: lightgray;
}
.nav-categories-footer-i {
  width: 100%;
  display: flex;
}

.nav-categories-footer a {
  font-size: 15px;
  width: auto;
}

.nav-categories-footer i {
  padding-right: 5px;
}

.active3 {
  background-color: unset;
}

.show {
  display: block;
}

.carousel-dark:hover {
  cursor: pointer;
}

.carousel-dark:hover .carousel-control-button {
  background-color: white;
  box-shadow: 0px 0px 10px rgb(127, 126, 126);
}
 
.contact:hover .contact-link {
  color: rgb(255, 255, 255) !important;
}

.contact:hover {
  color: rgb(255, 255, 255) !important;
}

.footer-dropdown-button i {
  display: none;
}

.footer-dropdown-menu {
  background-color: inherit !important;
  text-transform: capitalize;
}

.footer-dropdown-menu a:hover {
  color: white !important;
  background-color: inherit;
}

.footer-dropdown:hover .footer-dropdown-button {
  color: white !important;
}

.social i {
  cursor: pointer;
}

.social .fa-facebook-f:hover {
  color: #39579A;
  background-color: white !important;
}
.social .fa-twitter:hover {
  color: #03A9F4;
  background-color: white !important;
}
.social .fa-instagram:hover {
  color: #C21B72;
  background-color: white !important;
}
.social .fa-youtube-square:hover {
  color: #FF3B3B;
  background-color: white !important;
}

.cart-btn-container:hover {
  box-shadow: 0px 2px 5px 2px lightgray;
}

.cart-btn-container button:hover{
  background-color: unset;
}

.cart-heart:hover {
  background-color: orange !important;
}

.logo-div .fa-bars {
  display: none;
}

#percentOff {
  display: none !important;
}

.each-todays-deal:hover, #sponsoredProProduct:hover,
 #inspiredProProduct:hover, #browsingProProduct:hover {
  box-shadow: 0px 5px 10px 5px lightgray !important;
}

#dealsProductName {
  white-space: unset !important; 
  /* word-wrap: break-word; */
  width: 100% !important;
  /* border: 1px solid red; */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

#dropIcon {
  display: none;
  cursor: pointer;
}

.chat-social .fa-facebook-messenger {
  background-color: #2196F3;
}
.chat-social .fa-twitter {
  background-color: #26A6D1;
}
.chat-social .fa-whatsapp {
  background-color: #4CAF50;
}




#productMain {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  height: 100vh !important;
}

.empty-cart-container img {
  animation-name: fall;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  transform: rotate(-70deg);
}

@keyframes fall {
  0% {
    transform: rotate(0deg);
    transform: translateX(80px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
    transform: rotate(-50deg);
  }
}









@media screen and (min-width: 1024px) {
  #footerTwo {
    justify-content: start;
    gap: 100px;
  }

  .footer-dropdown-container {
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid #eee; */
    width: 70%;
  }
  
  .footer-contact-container {
    /* border: 1px solid cyan; */
    width: 25%;
  }

  .footer-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-dropdown-menu {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    gap: 8px;
  }

  .footer-dropdown-menu a {
  padding: 0px !important;
  }

  .dont-have-account-small-screen {
    display: none;
  }

  .footer-one-dropdown {
    display: none;
  }
  .footer-one-dropdown-menu {
    display: flex !important;
    background-color: inherit !important;
    gap: 30px;
  }

.div2 .each-click:hover {
  color: #ed017f !important;
}

#overview .div1 {
  display: none !important;
}

#chatModal .chat-modal-content {
  top: 200px !important;
  left: 100%;
  margin-left: auto !important;
  height: 100% !important;
  width: 80% !important;
  padding-bottom: 0px;
}

.chat-social i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  display: flex;
  padding: 12px 0px;
  cursor: pointer;
}

.cart-main .cart-total-on-small-screen {
  display: none !important;
}

#cartMain .empty-cart-container {
  width: 25% !important;
  margin-top: 100px !important;
}

}







@media screen and (max-width: 1024px) {
  #navBar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background-color: #ed017f;
    padding: 10px;
  }
  #firstNav{
    display: none !important;
  }
  #secondNav {
    height: 40px !important;
    padding: 0px !important;
    justify-content: space-between;
  }
  #secondNav h4 {
    display: flex !important;
    margin-top: -3px !important;
  }

  #searchOnSmallScreen {
    display: block !important;
    font-size: 12px;
    border-radius: 3px;
  }

  #otherIconsOnSmallScreen {
    display: flex !important;
  }

  #otherIconsOnSmallScreen div {
    cursor: pointer;
  }

  .logo-div {
    height: 50% !important;
  }
  .logo-div .fa-bars {
    display: flex;
    margin-right: 10px;
  }
  .logo-div h3 {
    height: 100% !important;
    font-size: 14px;
    padding-top: 2px;
  }

  .nav2-btn, #searchCon, #cartBtn, #helpBtn {
    display: none !important;
  }

  #thirdNav {
    display: none;
  }

  #loginOffcanvas {
    width: 100% !important;
    padding-bottom: 30px;
  }

  #loginOffcanvas .offcanvas-header {
    display: flex;
  }
  #offcanvasTitle {
    text-align: center !important;
    width: 100%;
  }

  .login-with {
    flex-direction: column;
  }

  .login-with button {
    width: 100% !important;
    font-size: 12px !important;
  }

  .login-with img {
    height: 30px;
  }

  .offcanvas-body, .offcanvas-body input, .offcanvas-body button {
    font-size: 12px;
  }
  .offcanvas-footer a {
    display: none;
  }

  .offcanvas-footer {
    padding-left: 25px;
    padding-right: 25px;
  }

  .offcanvas-footer .create-btn {
    border: 1px solid #ed017f;
    color: #ed017f;
  }

  .dont-have-account-small-screen {
    display: flex;
    flex-direction: column;
  }

  #mainContainer {
    margin-top: 60px;
    padding: 0px 10px !important;
    width: 100%;
    top: 50px;
  }

  #productPageMainContainer {
    margin-top: 100px;
    padding: 0px 10px !important;
    width: 100%;
    top: 50px;
  }

  #carouselContainer {
    flex-direction: column;
    gap: 10px !important;
  }
  #carouselExampleDark, #carouselInner, .carousel-item, .carousel-item img {
    width: 100% !important;
  }

  .carousel-item img {
    width: 100% !important;
  }
  #carouselAds {
    width: 100% !important;
    gap: 10px !important;
  }
  #carouselAds img {
    width: 48% !important;
  }

  #todaysDealContainer {
    margin-top: 30px !important;
  }

  #todaysDeal {
    flex-wrap: unset !important;
    overflow-x: auto;
    gap: 10px !important;
  }

  #eachTodaysDeal {
    min-width: 50% !important;
    height: 180px !important;
    padding: 10px 0px !important;
    flex-direction: column !important;
  }

  #eachTodaysDeal img {
    object-fit: contain !important;
    height: 60%;
  }

  #proDetails {
    font-size: 12px;
    gap: 0px !important;
    padding: 0px 10px;
  }

  #dealsNewPrice {
    font-size: 14px !important;
  }

  #dealsOldPrice {
    font-size: 10px !important;
  }

  #dealsSave {
    font-size: 10px !important;
  }

  #percentOff {
    display: flex !important;
  }
  #dealsProductName, #sponsorProductName {
    white-space: nowrap !important  ; 
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }


  #sponsorContainer, #moreContainer {
    margin-top: 30px !important;
    font-size: 12px;
  }
  #sponsorContainer h5 {
    font-size: 14px;
  }
  #sponsoredPro, #inspiredPro, #browsingHistoryPro {
    width: 100%;
    gap: 10px !important;
  }
  #sponsoredProProduct, #inspiredProProduct, #browsingProProduct {
    min-width: 50% !important;
    height: 180px !important;
    padding: 10px 0px !important;
    /* border: 2px solid red; */
  }
  #sponsoredProProduct img, #inspiredProProduct img, #browsingProProduct img {
    object-fit: contain !important;
    height: 60% !important;
  }

  #moreContainer {
    overflow-x: auto;
  }

  .more-img-container {
    min-width: 33%;
  }


  #recommendedContainer {
    margin-top: 10px !important;
  }

  #recommendedPro{
    flex-wrap: unset !important;
    overflow-x: auto;
    gap: 10px !important;
  }

  #otherAdsContainer {
    margin-top: 10px !important;
  }
  #otherAds23Div {
    flex-direction: column !important;
    margin-top: 10px !important;
  }
  #otherAds23Div img {
    width: 100% !important;
    height: 100px !important;
  }

  #inspiredProContainer, #browsingHistoryContainer, 
  #partnerContainer, #textContainer {
    margin-top: 10px !important;
  }

  #partnerContainer {
    margin-bottom: 20px !important;
  }

  #inspiredProContainer h3, #browsingHistoryContainer h3 {
    margin-top: 0px !important;
    font-size: 15px;
  }

  #homeFurnishingContainer {
    gap: 10px !important;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  #homeFurnishImgContainer {
    min-width: 50% !important;
  }
  #homeFurnishImgDiv {
    gap: 12px !important;
  }

  #homeFurnishImgName {
    font-size: 12px !important;
    margin-top: 5px !important;
  }
  
  #homeFurnishImgDiv span {
    height: 30px;
  }

  #moreText {
    display: none;
  }

  #blogContainer {
    display: none !important;
  }

  #footer {
    margin-top: 80px !important;
  }

  #footerOne {
    height: auto !important; 
    position: relative;
  }

  .footer-one-dropdown {
    display: block;
    cursor: pointer;
  }

   #footerOne .dropdown-menu {
    background-color: inherit !important;
    position: relative !important;
    left: -20px !important;
    top: -30px !important;
    margin-top: 20px !important;
    z-index: 1;
  }

  .footer-one-dropdown-menu .each-contact {
    margin: 20px 0px !important;
  }

  .each-contact:first-child {
    margin: 0px 0px !important;
  }

  .each-contact .contact  {
    gap: 0px !important;
  }

  #footerTwo {
    flex-direction: column !important;
    gap: 30px !important;
    position: relative !important;
  }
  .footer-dropdown-container {
    flex-wrap: unset !important;
    justify-content: unset;
    width: 100%;
    flex-direction: column !important;
    gap: 30px;
  }
  
  .footer-contact-container {
    width: 100%;
  }

  #footerTwo .footer-dropdown {
    gap: 0px !important;
    position: relative;
  }

  .footer-dropdown-button {
    display: flex !important;
    justify-content: space-between;
    cursor: pointer;
  }

  .footer-dropdown-button i, .fa-square-minus {
    font-size: 25px;
    font-weight: bold;
    display: block;
  }

  .footer-dropdown-menu {
    background-color: inherit !important;
    position: relative !important;
    margin-top: -20px !important;
    padding-top: 0px !important;
  }

  #copyright {
    flex-direction: column !important;
  }
  #copyright span {
    text-align: center;
  }

  #copyright hr {
    width: 100% !important;
  }

  .fa-square-minus {
    color: white;
    cursor: pointer;
    font-size: 25px;
  }

  #secondNav .small-screen-cart-icon {
    display: flex !important;
  }

  #footerTwo .footerconnect {
    margin-left: 0px !important;
  }

  #fixedFooter {
    display: flex !important;
  }

  #dropIcon {
    display: flex;
  }

  .chat-icon {
    bottom: 70px !important;
    width: 50px !important;
    height: 50px !important;
  }

  .fa-times {
    font-size: 35px !important;
    top: -7px !important;
  }

  .chat-social i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    justify-content: center;
    display: flex;
    padding: 8px 0px;
    cursor: pointer;
  }












  #productCarouselContainer {
    flex-direction: column;
  }
  #productCarouselContainer .div1, #productCarouselContainer .div2 {
    width: 100% !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  #productCarouselContainer .carousel-indicators {
    left: 0 !important;
    justify-content: start !important;
    width: 100% !important;
    margin: 0px !important;
    /* bottom: 40px; */
  }

  .buy-now-and-save-btn button:first-child {
    width: 85% !important;
  }

  .buy-now-and-save-btn .save-icon {
    width: 15% !important;
  }

  .save-icon span {
    display: none;
  }

  .get-free-delivery {
    font-size: 12px;
    height: 50px !important;
  }

  #productCarouselContainer .pickup-and-pay {
    flex-direction: column;
    gap: 10px !important;
  }
  .pickup-and-pay .txt1, .pickup-and-pay .txt2, .txt3, .txt4{
    font-size: 12px !important;
  }

  #productCarouselContainer .carousel-indicators img {
    padding: 0px !important;
    height: 50px !important;
  }

  #productCarousel .carousel-inner img {
    height: 350px !important;
    border: 1px solid red;
  }

  .product-main {
    padding: 10px !important;
    margin-top: 90px !important;
  }

  #overview {
    padding: 0px !important;
  }

  #overview .div2 {
    display: none !important;
  }

  #overview .div1{
    flex-direction: column !important;
    gap: 0px !important;
  }

  #overview .each-click {
    border-top: 1px solid lightgray;
    padding: 15px 10px;
    font-size: 14px !important;
    height: auto !important;
  }

  .product-details-dropdown-menu ul {
    border: 1px solid #eee;
  }
  
  .each-click .product-details-dropdown-menu {
    top: -20px !important;
    position: relative !important;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    animation-name: ani;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    z-index: 1;
  }

  @keyframes ani {
    0% {
      opacity: 0;
      height: 0%;
      width: 100%;
    }
    100% {
      opacity: 1;
      height: 100%;
      width: 100%;
    }
  }

  

  #similarContainer {
    overflow-x: auto;
    width: 100%;
  }

  #similarContainer .eachsimilar {
    min-width: 50% !important;
  }















  .cart-main {
    margin-top: 60px;
  }
  .cart-main .cart-top div {
    display: none !important;
  }

  .cart-top {
    height: auto !important;
    background-color: inherit !important;
  }
  
  .cart-top h1 {
    font-size: 15px !important;
  }

  .shipping-info {
    flex-direction: column;
    padding: 10px 2% !important;
  }
  .shipping-info .div1 {
    width: 100% !important;
  }

  .shipping-info .div2 {
    width: 100% !important;
  }
  .shipping-info .cart-head {
    display: none !important;
  }

  #eachShoppingCart .cart-details {
    flex-direction: column;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 10px;
  }

  .cart-details .cart-name {
    font-size: 12px !important;
  }

  .cart-name div:first-child {
    width: 100% !important;
    font-weight: bold;
  }
  .cart-name .sold-by {
    font-size: 12px !important;
  }

  .cart-details .cart-img {
    width: 100% !important;
  }

  .cart-price {
    width: 70% !important;
  }

  .cart-body #searchOnSmallScreen {
    display: none !important;
  }

  .cart-details .cart-action {
    width: 100% !important;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 20px !important;
    padding: 0px 10px;
  }

  .cart-action div {
    border: 1px solid #eee;
    width: 50%;
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
    color: black;
  }

  .shipping-info .div2 {
    background-color: #F2F2F2 !important;
  }

  .div2 .details-off {
    display: none;
  }

  .div2 .accept-payment {
    justify-content: space-around !important;
  }

  .div2 .checkout-btn {
    display: block !important;
    /* margin-top: 50px; */
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  
}
















@media screen and (max-width: 1024px) {
  .nav.responsive {
    width: 100%;
    padding: 0px !important;
    position: relative;
  }

  .nav.responsive #secondNav {
    margin: 10px 10px 0px 10px !important;
    /* border: 1px solid #eee; */
    width: 100% !important;
  }

  .nav.responsive #searchOnSmallScreen {
    display: none !important;
    background-color: unset !important;
  }

  .nav.responsive #thirdNav {
    display: block !important;
    background-color: unset !important;
  }

  .nav.responsive #thirdNav ul {
    display: none !important;
  }
  .nav.responsive #smallScreenDropdown {
    display: flex !important;;
    flex-direction: column;
    background-color: whitesmoke !important;
    color: black !important;
    position: relative;
    top: 12px !important;
    left: 0 !important;
    height: 100vh !important;
    overflow-y: auto;
    /* bottom: 300px; */
    padding-bottom: 200px !important;
    animation-name: drop;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

  @keyframes drop {
    0% {
      opacity: 0;
      height: 0vh;
      width: 0%;
    }
    100% {
      opacity: 1;
      height: 100vh;
      width: 100%;
    }
  }

  .nav.responsive #bringItUp a {
    text-decoration: none;
    color: black !important;
    border-top: 1px solid lightgray;
    font-size: 14px;
    padding: 10px 5px;
    text-transform: capitalize;
  }

  .nav.responsive .small-screen-dropdown-links button {
    text-transform: capitalize;
    border-top: 1px solid lightgray;
    font-size: 14px;
    padding: 10px 5px;
  }

  .nav.responsive .fa-angle-right {
    color: rgb(160, 157, 157);
  }

  .nav.responsive #myDropdown {
    display: flex !important;
    flex-direction: column;
  }

  .nav.responsive .nav-categories-options {
    min-width: 100% !important;
  }

  .nav.responsive .dropbtn {
    display: none;
    color: black !important;
    border-top: 1px solid gray !important;
  }
}

/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> */